<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <base href="/AppWine/">
    <link rel="stylesheet" type="text/css" href="public/css/404.css">
    <link rel="icon" href="public/images/icons/appwine.jpg">
</head>
<body>
<main id="mainpart" class="error-page" style="min-height: 573px;">
        <div class="error-black"></div>
        <div class="error-center text-center">
            <div class="error-name">404</div>
            <div class="error-note">What are you finding here? There are nothing.</div>
            <a href="" class="button error-button">Back to Homepage</a>
        </div>
</main>
</body>
</html>


